
@font-face {
  font-family: 'Tusker';
  src: local('Tusker'), url(../src/assets/fonts/tusker-grotesk-6700-bold.woff2) format('woff2'), url(../src/assets/fonts/tusker-grotesk-6700-bold.ttf) format('TrueType');
}

body {
  font-family: "Syne", sans-serif;
  background: #0f1326;
  color:#F7FFFD;
  position: relative;
  height: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  font-size: 16px;
}

html {
  height: 100%;
}

h1, h2, h3, h4, .heading {
  font-family: "Tusker", sans-serif;
  text-transform: uppercase;
}

.add-to-favorite {
  background: none;
  width: fit-content;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  cursor: pointer;
  display: flex;
  color: currentColor;
  align-content: center;
  gap: 10px;
}

.add-to-favorite span {
  display: none;
  font-family: 'Syne';
}

/* GENERAL */

main {
  padding: 160px 0;
  min-height: 90vh;
}

header {
  background: linear-gradient(to right, rgb(71, 118, 230), rgb(142, 84, 233));
  padding: 20px 0;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 1px 7px 15px 5px rgb(0 0 0 / 1.5%); 
  box-shadow:1px 7px 15px 5px rgb(0 0 0 / 1.5%); 
}

footer {
  padding: 40px 0;
  min-height: 150px;
  font-size: 14px;
  background: #090c17;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.results-wrapper img {
  border-radius: 5px;
}

.container {
  padding: 0 20px;
  max-width: 1450px;
  margin: 0 auto;
}

.animated-heading {
  font-weight: 700;
  display: inline-block;
  margin: 0 6px;
  line-height: 1.3em;
}

.no-result {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 25px;
}

.no-result img{
  max-width: 300px;
}

.button.primary-button {
  padding: 5px 35px;
  font-size: 18px;
  background: white;
  border: 0;
  border-radius: 50px;
  box-shadow: none;
  height: 55px;
  color: #090c17;
  font-weight: 600;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: currentColor;
}

.red {
  color: #ED171F
}

.link {
  color: currentColor;
  background-color: transparent;
  background-image: linear-gradient(to top, currentColor 0px 0px), linear-gradient(to top, transparent 0px, transparent 0px);
  background-repeat: no-repeat;
  background-position: right bottom, right bottom;
  background-size: 0% .1rem, 100% .1rem;
  transition-property: background-size;
  transition-timing-function: ease;
  transition-duration: .25s;    
  padding-bottom: 4px;
}

.link:hover {
  background-position: left bottom, left bottom;
  background-size: 100% .1rem, 100% .1rem;
}

@media only screen and  (max-width: 1000px) {
  .animated-heading {
    font-size: 50px;
    line-height: 1.3em;
  }
}

@media only screen and  (max-width: 500px) {
  .container {
    padding: 0px 15px;
  }
  .animated-heading {
    font-size: 33px;
    line-height: 1.3em;
  }
  .heading {
    text-align: center;
  }
}

/* LOADING */

.loading {
  display: flex;
  justify-content: center;
  min-height: 45vh;
  align-items: center;
}
.loading div {
  width: 0.8rem;
  height: 0.8rem;
  margin: 2rem 0.3rem;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: 0.9s bounce infinite alternate;
          animation: 0.9s bounce infinite alternate;
}
.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}


/* HEADER */

.logo {
  max-width: 90px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 30px;
}
.nav .link {
  font-weight: initial;
  font-family: "Tusker", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media only screen and  (min-width: 1200px) {
    .nav .link {
      font-size: 20px;
    }
    main {
      padding: 160px 0;
    }
    .index main {
      padding: 0;
    }
}

@media only screen and  (max-width: 768px) {
  .header-wrapper {
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  }
}

/* RESULT MAIN */

.header-content {
  display: flex;
  align-items: end; 
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 40px;
}

.results-wrapper .result-item {
   position: relative;
}

.results-wrapper .result-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.results-wrapper .result-item .result-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4em;
  padding: 0 20px;
  color: #4974E6;
  font-family: 'Tusker';
  text-transform: uppercase;
}

.characters-main .results-wrapper .result-item .result-title {
  color: #F7FFFD;
}

.results-wrapper .result-item .result-description {
  font-size: 14px;
  line-height: 1.4em;
  opacity: 0.7;
  padding: 0 20px;
}

.characters-main .results-wrapper .result-item img {
    aspect-ratio: 1 / 1;
}

.characters-main .results-wrapper .result-item {
  background: #4a75e6;
  border-radius: 8px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(5px);
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}

.characters-main .results-wrapper .result-item {
  width: calc(12.9% - 2px);
}

@media only screen and  (max-width: 1250px) {
  .characters-main .results-wrapper .result-item {
    width: calc(15.2% - 2px);
  }
}
@media only screen and  (max-width: 1000px) {
  .header-content {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
    text-align: center;
  }
  .characters-main .results-wrapper .result-item {
    width: calc(24% - 2px);
  }  
}

@media only screen and  (max-width: 768px) {

  .results-wrapper .result-item .result-title, .results-wrapper .result-item .result-description {
      padding: 0 10px;
  }

  .characters-main .results-wrapper .result-title, .characters-main .results-wrapper .result-description {
    padding: 0 5px;
  }
  .characters-main .results-wrapper .result-item {
    width: calc(49% - 5px);
  }  
}

@media only screen and  (max-width: 500px) {
  .results-wrapper .result-item .result-title {
    font-size: 14px;
  }
  .header-content {
    gap: 30px;
  }
  .results-wrapper .result-item {
    gap: 10px;
  }
  .characters-main .results-wrapper .result-item {
    width: calc(47% - 0px);
  }   
}

form.header__search  { 
  position: relative;
}


form.header__search svg {
  position: absolute;
  top: 30%;
  left: 16px;
  fill: #4975E6;
}

form.header__search input { 
  min-height: 40px;
  border-radius: 50px;
  border: 0;
  color: #F7FFFD;
  padding: 0 20px;
  min-width: 290px;
  font-size: 18px;
  padding-left: 40px;
  background: transparent;
  border: 1px solid #ffffff63;
}

.results-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 0 60px;
  row-gap: 20px;
}


.results-wrapper .result-item {
   width: calc(20.25% - 20px);
}

.result-item:hover img {
  border-bottom-right-radius: 64px;
}

@media only screen and  (min-width: 1500px) {
  .results-wrapper .result-item {
    width: calc(16.25% - 11px);
  }
  .animated-heading {
    font-size: 75px;
  }
} 

@media only screen and  (max-width: 1000px) {
 .results-wrapper .result-item {
    width: calc(34% - 20px);
 }
 .results-wrapper {
  gap: 10px;
  row-gap: 20px;
  justify-content: space-around;
 }
}

@media only screen and  (max-width: 500px) {
  .results-wrapper .result-item {
    width: calc(50% - 5px);
 }
 form.header__search, form.header__search input {
  width: 100%;
 }
}

/* HERO HOMEPAGE */

.homepage-main {
  display: flex;
  gap: 40px;
  align-items: start;
}

.homepage-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px; 
}

.homepage-hero .homepage-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.gallery-content {
  position: relative;
  max-height: 90vh;
  min-height: 90vh;;
  overflow: hidden;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.15;
}

.gallery figure{
  max-width: 300px;
}

.gallery-content .main-heading {
  position: absolute;
  max-width: 900px;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  z-index: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.gallery-content .main-heading .heading span.animated-heading:first-of-type {
  color: #ED171F;
}


@media only screen and  (max-width: 700px) {
  .gallery figure{
    max-width: 90px;
  }
  .gallery-content .animated-heading {
    font-size: 35px;
    line-height: 1.3em;
  }
  .index main {
    padding: 10px 0;
  }
}  

@media only screen and  (max-width: 500px) {
 .gallery-content .animated-heading {
    font-size: 35px;
 }
}  

.hero-content {
  display: flex;
  background: #4974e6;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  align-items: center;
  position: relative;
}

.hero-content .image-hero {
  max-width: 500px;
  width: 100%;
}

.hero-content .image-hero img {
  aspect-ratio: 1/1;
}

.hero-content.hero-comic .image-hero {
  max-width: 250px;
}

.hero-content.hero-comic .image-hero img {
    aspect-ratio: 0.7 / 1;
}

.hero-content .description-hero {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 1.4em;
}

.hero-content .animated-heading {
  font-size: 30px;
}

.hero-short_links {
  position: relative;
  width: fit-content;
}

.hero-short_links .add-to-favorite {
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  align-items: center;
  padding: 11px 24px;
  border: 1px solid;
  border-radius: 40px;
}

.hero-short_links .add-to-favorite svg {
  max-width: 20px;
}

.hero-short_links .add-to-favorite span {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and  (max-width: 768px) {
    .hero-content .description-hero {
      justify-content: center;
      align-items: center;
    }
    .hero-content .image-hero img {
        padding: 20px;
        border-radius: 100%;
    }
    .hero-content.hero-comic .image-hero img {
      padding: 20px;
      border-radius: 2px;
    }
    .hero-content .image-hero {
        max-width: unset;
    }
    .hero-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      line-height: 1.2em;
    }
    .hero-content .description-hero {
      padding: 20px 10px;
    }
}

@media only screen and  (max-width: 500px) {
  .gallery-content {
    margin-top: 100px;
    max-height: 70vh;
    min-height: 70vh;
  }
}


/* PAGE ANIMATION */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #090C17;
  transform-origin: bottom;
  z-index: 9999999;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #090C17;
  transform-origin: bottom;
  z-index: 9999999;
}